body {
    margin: 0;
    background-color: #ad1a8d;
    text-align: center;
}
a {
    color: black;
    font-size: 5vw;
    font-family: "Trebuchet MS" sans-serif;
    letter-spacing: -2px;
    border-bottom: 2px solid black;
    text-transform: uppercase;
}