body {
    margin: 0;
    background-color: #ad971a;
    text-align: center;
}
a {
    color: black;
    font-size: 5vw;
    font-family: "Trebuchet MS" sans-serif;
    letter-spacing: -2px;
    border-bottom: 2px solid black;
    text-transform: uppercase;
}
ul {
    list-style: none;
}
#drop-area {
    border: 2px dashed #ccc;
    border-radius: 20px;
    width: 480px;
    margin: 100px auto;
    padding: 20px;
}